//-------------------------------------------------------
//- Modules :: Menu
//-------------------------------------------------------

-
  var menus = [
    {
      title: "Dashboards", 
      icon: "fe fe-home",
      href: "#sidebarDashboards",
      id: "sidebarDashboards",
      active: true,
      submenu: [
        {
          title: 'Default'
        },
        {
          title: 'Alternative',
          badge: 'New',
          active: true
        }
      ]
    },
    { 
      title: "Pages",
      icon: 'fe fe-file',
      href: "#sidebarPages",
      id: "sidebarPages",
      submenu: [
        {
          title: 'Profile',
          href: "#sidebarProfile",
          id: "sidebarProfile",
          childmenu: [
            {
              title: 'Posts'
            },
            {
              title: 'Projects'
            },
            {
              title: 'Team'
            },
            {
              title: 'Groups'
            },
            {
              title: 'Posts'
            }
          ]
        }, 
        {
          title:'Project',
          href: "#sidebarProject",
          id: "sidebarProject",
          childmenu: [
            {
              title: 'Overview'
            },
            {
              title: 'Files'
            },
            {
              title: 'Reports'
            },
            {
              title: 'New project'
            }
          ]
        }, 
        {
          title:'Team',
          href: "#sidebarTeam",
          id: "sidebarTeam",
          childmenu: [
            {
              title: 'Overview'
            },
            {
              title: 'Projects'
            },
            {
              title: 'Members'
            },
            {
              title: 'New team'
            }
          ]
        },
        {
          title:'Orders'
        }, 
         {
          title:'Feed'
        }, 
         {
          title:'Settings'
        }, 
         {
          title:'Invoicers'
        }, 
         {
          title:'Pricing'
        }
      ]
    },
    {
      title: "Authentication",
      icon: 'fe fe-user',
      href: "#sidebarAuth",
      id: "sidebarAuth",
      submenu: [
        {
          title: 'Sign in',
          href: "#sidebarSignIn",
          id: "sidebarSignIn",
          childmenu: [
            {
              title: 'Cover'
            },
            {
              title: 'Illustration'
            },
            {
              title: 'Basic'
            }
          ]
        }, 
        {
          title:'Sign up',
          href: "#sidebarSignUp",
          id: "sidebarSignUp",
          childmenu: [
            {
              title: 'Cover'
            },
            {
              title: 'Illustration'
            },
            {
              title: 'Basic'
            }
          ]
        },
        {
          title:'Password reset',
          href: "#sidebarPassword",
          id: "sidebarPassword",
          childmenu: [
            {
              title: 'Cover'
            },
            {
              title: 'Illustration'
            },
            {
              title: 'Basic'
            }
          ]
        },
        {
          title:'Error',
          href: "#sidebarError",
          id: "sidebarError",
          childmenu: [
            {
              title: 'Cover'
            },
            {
              title: 'Illustration'
            },
            {
              title: 'Basic'
            }
          ]
        }
      ]
    }
  ]

mixin main-menu()
  
  ul.navbar-nav.js-navbar-nav
    #accordion
      each item in menus
        li.navbar-item.js-navbar-item(
          class=item.submenu ? 'navbar-item--has-children' : '', 
          class=item.active ? 'navbar-item--active' : ''
        )
          a.navbar-link.js-navbar-link(
            class=item.submenu ? 'navbar-link--has-children' : '',
            class=item.active ? 'navbar-link--active' : ''
            href= item.href ? item.href : "#", 
            data-toggle= item.toggle ? "" : "collapse", 
            role ="button", 
            aria-expanded = item.active ? "true" : "false",
            aria-controls= item.id
          )
            i(class= item.icon)
            |#{item.title}
            
          if item.submenu
            .collapse(
              id= item.id , 
              class= item.active ? "show" : "",
              data-parent="#accordion"
              )
              ul.nav.sub-menu.flex-column.js-submenu
                #subMenu
                  each sub in item.submenu
                    li.navbar-item.js-sub-item(
                      class=sub.childmenu ? 'navbar-item--has-children' : '',
                      class= sub.active ? 'navbar-item--active' : ''
                    )
                      a.navbar-link(
                        href= sub.href ? sub.href : "#", 
                        class=sub.childmenu ? 'navbar-link--has-children' : '',
                        class= sub.active ? 'navbar-link--active' : ''
                        data-toggle= sub.toggle ? "modal" : "collapse",
                        role ="button", 
                        aria-expanded ="false", 
                        aria-controls= sub.id
                      )= sub.title
                        if sub.badge
                          span.badge.badge--soft-success.ml-auto= sub.badge

                      if sub.childmenu
                        .collapse(id= sub.id, data-parent="#subMenu")
                          ul.nav.child-menu.js-childmenu.flex-column
                            each child in sub.childmenu
                              li.navbar-item(
                                class= child.active ? 'active' : ''
                              )
                                a.navbar-link(
                                  href= item.href ? item.href : "#", 
                                )= child.title

-
  var subs = [
    {
      title: "Getting started", 
      icon: "fe fe-clipboard",
    },
    { 
      title: "Components",
      icon: 'fe fe-book-open',
      href: "#sidebarComponents",
      toggle: "collaspe",
      id: "sidebarComponents",
      submenu: [
        {
          title: 'Alerts'
        },
        {
          title: 'Avatars'
        },
        {
          title: 'Badges'
        },
        {
          title: 'Breadcrumb'
        },
        {
          title: 'Buttons'
        },
        {
          title: 'Button group'
        },
        {
          title: 'Dropdowns'
        },
        {
          title: 'Forms'
        },
        {
          title: 'Lists'
        },
        {
          title: 'Modal'
        }
      ]
    }, 
    {
      title: " Changelog ",
      icon: 'fe fe-git-branch',
      badge: "v1.3.4"
    }
  ]
  
mixin sub-menu()
  h3.navbar-heading Documentation
  ul.navbar-nav.mb-md-4
    each item in subs
      li.navbar-item.js-navbar-item(
        class=item.submenu ? 'navbar-item--has-children' : '', 
        class=item.active ? 'navbar-item--active' : ''
      )
        a.navbar-link.js-navbar-link(
          class=item.submenu ? 'navbar-link--has-children' : '',
          class=item.active ? 'navbar-link--active' : ''
          href= item.href ? item.href : "#", 
          data-toggle= item.toggle ? "collapse" : "", 
          role ="button", 
          aria-expanded ="false", 
          aria-controls= item.id
        )
          i(class= item.icon)
          |#{item.title}

          if item.badge
            span.badge.badge--primary.ml-auto= item.badge
          
        if item.submenu
          .collapse(id= item.id)
            ul.nav.sub-menu.flex-column.js-submenu
              each sub in item.submenu
                li.navbar-item.js-sub-item(
                  class= sub.childmenu ? 'navbar-item--has-children' : '',
                  class= sub.active ? 'navbar-item--active' : ''
                )
                  a.navbar-link(
                    href= item.href ? item.href : "#", 
                    class=sub.childmenu ? 'navbar-link--has-children' : '',
                    class= sub.active ? 'navbar-link--active' : ''
                    data-toggle= "", 
                    role ="button", 
                    aria-expanded ="false", 
                    aria-controls= item.id
                  )= sub.title
          
        
                           
                                                      