//-------------------------------------------------------
//- Modules :: Content
//-------------------------------------------------------

mixin content()
  .js-main-body.main-body

    //- header

    header.header 
      .header__pull-left 
        p.header__pretitle dashboards
        h2.header__title Overview

      .header__pull-right
        form.date-picker
          span.date-picker__icon
            i(class="fas fa-calendar-alt")
          input.date-picker__field(type="text" id="datepicker" value="01/01/15 - 01/08/15")

          .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top
     
    hr.main-body__line.line

    //- section-chart
    -
      var chart = [
        { 
          title: 'New vs Returning',
          text: 'Traffic',
          dataset: [230, 130],
          labels: ['Returning', 'New']
        },
        { 
          title: 'New vs Returning',
          text: 'Revenue',
          dataset: [330,30],
          labels: ['Returning', 'New']
        },
        { 
          title: 'Direct vs Referrals',
          text: 'Traffic',
          dataset: [100,260],
          labels: ['Referrals', 'Direct']
        }
      ]

    section.section-chart
      .row 
        each item in chart
          .col-4.col-sm-12
            .chart 
              .chart__top 
                canvas.chart__doughnut.js-chart(
                  width="150"
                  height="150"
                  dataset= item.dataset,
                  labels= item.labels
                )
              .chart__body 
                p.chart__text= item.text
                h4.chart__title= item.title

    //- Quick Stats
    
    section.quick-stats
      .quick-stats__header 
        h3.quick-stats__title Quick Stats
      .row
        .col-lg-3.col-md-6.col-sm-12
          .quick-stats__page
            +card-stats({title: 'page views', number: '1,293', indicator: '5,3%', increase: true, dataset:[28,68,41,43,96,45,100]})
        .col-lg-3.col-md-6.col-sm-12
          .quick-stats__downloads
            +card-stats({title: 'downloads', number: '758', indicator: '1,3%', dataset:[28,68,41,43,96,45,100]})
        .col-lg-3.col-md-6.col-sm-12
          .quick-stats__sign-ups
            +card-stats({title: 'sign-ups', number: '1,293', indicator: '6,73%', increase:true, dataset:[28,68,41,43,96,45,100]})
        .col-lg-3.col-md-6.col-sm-12
          .quick-stats__upload
            +card-stats({title: 'downloads', number: '758', indicator: '1,3%', dataset:[28,68,41,43,96,45,100]})

    hr.main-body__line

    //- section statistic
    -
      var countries = [
        {
          title: 'United States', progress: '62.4%'
        },
        {
          title: 'India', progress: '15.0%'
        },
        {
          title: 'United', progress: '5.0%'
        },
        {
          title: 'Canada', progress: '5.0%'
        },
        {
          title: 'Russia', progress: '4.5%'
        },
        {
          title: 'Mexico', progress: '2.3%'
        },
        {
          title: 'Spain', progress: '1.7%'
        },
        {
          title: 'France', progress: '1.5%'
        },
        {
          title: 'South', progress: '1.4%'
        },
        {
          title: 'Japan', progress: '1.2%'
        }
      ]

    -
      var pages = [
        {
          title: '/ (Logged out)', progress: '3,929,481'
        },
        {
          title: '/ (Logged in)', progress: '1,143,393'
        },
        {
          title: '/tour', progress: '938,287'
        },
        {
          title: '/features/something', progress: '749,393'
        },
        {
          title: '/users/username', progress: '501,938'
        },
       {
          title: '/ (Logged out)', progress: '3,929,481'
        },
        {
          title: '/ (Logged in)', progress: '1,143,393'
        },
        {
          title: '/tour', progress: '938,287'
        },
        {
          title: '/features/something', progress: '749,393'
        },
        {
          title: '/users/username', progress: '501,938'
        }
      ]

    -
      var devices = [
        {
          title: 'Desktop (1920x1080)', progress: '3,929,481'
        },
        {
          title: 'Desktop (1366x768)', progress: '1,143,393'
        },
        {
          title: 'Desktop (1920x1080)', progress: '3,929,481'
        },
        {
          title: 'Desktop (1366x768)', progress: '1,143,393'
        },
        {
          title: 'Desktop (1920x1080)', progress: '3,929,481'
        },
        {
          title: 'Desktop (1366x768)', progress: '1,143,393'
        },
        {
          title: 'Desktop (1920x1080)', progress: '3,929,481'
        },
        {
          title: 'Desktop (1366x768)', progress: '1,143,393'
        },
        {
          title: 'Desktop (1920x1080)', progress: '3,929,481'
        },
        {
          title: 'Desktop (1366x768)', progress: '1,143,393'
        }
      ]

    section.table-statistic
      .row
        .col-6.col-sm-12
          .table-countries
            h4.table-countries__title Countries
            each item in countries
              li.table-countries__item 
                a.table-countries__link(href= item.href ? item.href : 'javascript:void(0)')
                  span.table-countries__text(style = "width:"+ item.progress)= item.title
                  span.table-countries__number= item.progress
            +buttons-link({text: 'All Countries'})

        .col-6.col-sm-12
          .table-pages
            h4.table-pages__title Most visited pages
            each item in pages
              li.table-pages__item 
                a.table-pages__link(href= item.href ? item.href : 'javascript:void(0)')
                  span.table-pages__text= item.title
                  span.table-pages__number= item.progress
            +buttons-link({text: 'View all pages'})
      .row
        .col-12.col-sm-12
          .table-devices
            h4.table-devices__title Devices and resolutions
            each item in devices
              li.table-devices__item 
                a.table-devices__link(href= item.href ? item.href : 'javascript:void(0)')
                  span.table-devices__text= item.title
                  span.table-devices__number= item.progress
            +buttons-link({text: 'View all devices'})



            
            